.container {
   grid-column: 1/12;

   .item {
      display: inline-block;
      @include fontSize-2;
      color: $color-gray-200;

      &__active {
         font-weight: 600;
      }

      .separator {
         margin: 0 5px;
      }
   }
}

@include media('>tablet') {
   .container {
      grid-column: 2/12;
   }
}
