.container {
   grid-column: span 12;

   .item {
      grid-column: span 12;
      display: inline;
      @include fontSize-2;
      color: $color-gray-200;

      &__active {
         font-weight: 600;
      }

      .separator {
         margin: 0 5px;
      }
   }
}
