.container {
   display: block;
   padding: $space-1;

   .image {
      text-align: center;
      margin-bottom: $space-1;
      border-radius: $border-radius;
      overflow: hidden;
   }

   .content {
      grid-column: span 10;

      .priceWrapper {
         display: flex;
         margin-bottom: $space-1;

         .price {
            @include fontSize-5;
            margin-right: $space-1;
         }
      }
      .title {
         @include fontSize-4;
      }
   }

   .address {
      grid-column: span 2;
      @include fontSize-1;
      color: $color-gray-200;
      margin-bottom: $space-1;
   }
}

@include media('>tablet') {
   .container {
      @include grid(10);

      .image {
         grid-column: span 2;
         margin-bottom: 0;
      }
      .content {
         grid-column: span 6;

         .priceWrapper {
            margin-bottom: $space-2;
         }
      }
      .address {
         grid-column: span 2;
      }
   }
}
