@mixin fontSize-1 {
   font-size: 12px;
}
@mixin fontSize-2 {
   font-size: 14px;
}
@mixin fontSize-3 {
   font-size: 16px;
}
@mixin fontSize-4 {
   font-size: 18px;
}
@mixin fontSize-5 {
   font-size: 24px;
}
@mixin fontSize-6 {
   font-size: 28px;
}
@mixin fontSize-7 {
   font-size: 46px;
}
